body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-color: rgb(2,52,63);
  font-family: 'Courier New', Courier, monospace;
}

form {
  background-color: rgb(240,237,204);
  display: inline-block;
}
